.profile{
    background: #202020;
    height: 100%;
}

.profile__title{
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    text-align: center;
    color: white;
    margin: 74px auto 0;
    max-width: 410px;
}

.profile__info{
    flex-direction: column;
    max-width: 410px;
    margin: 123px auto 0;
}

.profile__line{
    margin-bottom: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.profile__line:first-of-type{
    border-bottom: 1px solid #424242;
}

.profile__heading{
    font-size: 11px;
    font-weight: 500;
    line-height: 13px;
    text-align: left;
    color: white;
    padding-bottom: 16px;
    margin: 0;
}

.profile__name{
    font-size: 11px;
    font-weight: 400;
    line-height: 13px;
    text-align: right;
    color: white;
}

.profile__email{
    font-size: 11px;
    font-weight: 400;
    line-height: 13px;
    text-align: right;
    color: white;
}

.profile__changing{
    margin: 204px auto 0;
    max-width: 410px;
    text-align: center;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    align-items: center;
}

.profile__edit{
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    color: white;
    background: none;
    padding: 0;
    border: none;
}

.profile__to-login{
    font-size: 13px;
    font-weight: 500;
    line-height: 16px;
    color: #EE3465;
    text-decoration: none;
}

@media screen and (max-width: 800px){
    .profile__title{
        margin-top: 240px;
    }

    .profile__info{
        margin-top: 96px;
    }

    .profile__changing{
        margin: 195px auto 269px;
    }
}