.project{
    background: #202020;
}

.project__header{
    font-size: 22px;
    font-weight: 400;
    line-height: 27px;
    color: #FFFFFF;
}

.project__container{
    display: flex;
    flex-direction: row;
}

.project__steps{
    display: flex;
}

.project__steps-header{
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    color: #FFFFFF;
}

.project__steps-text{
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #FFFFFF;
    margin-top: 26px;
}

.project__weeks{
    margin-top: 110px;
    height: 36px;
    display: flex;
    flex-direction: row;
}

.project__weeks-back{
    background-color: #3DDC84;
    color: black;
    max-width: 228px;
}

.project__weeks-front{
    background-color: #303030;
    color: #FFFFFF;
    max-width: 912px;
}

.project__parts{
    margin-top: 14px;
    display: flex;
    flex-direction: row;
}

.project__parts-back{
    color: #8B8B8B;
    max-width: 228px;
}

.project__parts-front{
    color: #8B8B8B;
    max-width: 912px;
}
