.techs{
    background-color: #272727;
    width: 100%;
    letter-spacing: -0.04em;
}

.techs__theme{
    font-size: 22px;
    font-weight: 400;
    line-height: 27px;
    text-align: left;
    color: white;
    padding-bottom: 23px;
    max-width: 1140px;
    border-bottom: 1px solid #DADADA;
    margin: 100px auto 0;
}

.techs__container{
    display: flex;
    flex-direction: column;
    max-width: 1140px;
    margin: 0 auto;
}

.techs__header{
    font-size: 50px;
    font-weight: 400;
    line-height: 58px;
    text-align: center;
    color: white;
    margin: 90px 0 0;
}

.techs__text{
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    color: white;    
    margin: 26px auto 0;
    max-width: 460px;
}

.techs__technologies{
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    margin-top: 100px;
    margin-bottom: 100px;
    justify-content: center;
}

.techs__element{
    width: 90px;
    height: 60px;
    background-color: #303030;
    color: white;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}