.techs{
    background-color: #272727;
    width: 100%;
    letter-spacing: -0.04em;
}

.techs__theme{
    font-size: 22px;
    font-weight: 400;
    line-height: 27px;
    text-align: left;
    color: white;
    padding: 100px 0 23px;
    max-width: 1140px;
    border-bottom: 1px solid #DADADA;
    margin: 0 auto 0;
}

.techs__container{
    display: flex;
    flex-direction: column;
    max-width: 1140px;
    margin: 0 auto;
}

.techs__header{
    font-size: 50px;
    font-weight: 400;
    line-height: 58px;
    text-align: center;
    color: white;
    margin: 90px 0 0;
}

.techs__text{
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    color: white;    
    margin: 26px auto 0;
    max-width: 460px;
}

.techs__technologies{
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    row-gap: 10px;
    margin: 100px auto 100px;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0;
}

.techs__element{
    width: 90px;
    height: 60px;
    background-color: #303030;
    color: white;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

@media screen and (max-width: 1200px){
    .techs__container{
        margin-left: 30px;
        margin-right: 30px;
    }

    .techs__theme{
        margin-left: 30px;
        margin-right: 30px;
    }
}

@media screen and (max-width: 800px){
    .techs__container{
        max-width: 670px;
        margin: 0 auto 0;
    }

    .techs__theme{
        max-width: 670px;
        padding-top: 90px;
    }

    .techs__header{
        margin-top: 80px;
    }

    .techs__text{
        max-width: 460px;
        font-size: 12px;
        line-height: 18px;
        letter-spacing: -0.04em;
        margin-top: 22px;
    }

    .techs__technologies{
        max-width: 670px;
        margin: 84px auto 90px;
    }

    .techs__element{
        width: 84px;
        height: 57px;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: -0.04em;
    }
}

@media screen and (max-width: 400px){
    .techs{
        background-color: #202020;
    }

    .techs__container{
        max-width: 284px;
        margin: 0 auto 0;
    }

    .techs__theme{
        max-width: 284px;
        margin-top: 0;
        padding: 0 0 28px;
        font-size: 18px;
        line-height: 22px;
        letter-spacing: -0.04em;
    }

    .techs__header{
        margin-top: 60px;
        font-size: 30px;
        line-height: 36px;
        letter-spacing: -0.04em;
    }

    .techs__text{
        font-size: 11px;
        line-height: 16px;
        margin-top: 24px;
    }

    .techs__technologies{
        max-width: 200px;
        margin: 50px auto 70px;
        justify-content: start;
    }
}