.filter{
    background: #202020;
}

.filter__info{
    display: flex;
    max-width: 1140px;
    margin: 33px auto 48px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.filter__checkbox{
    width: 36px;
    height: 20px;
    border-radius: 20px;
    background: #EBEBEB;
    padding: 0;
    margin: 0;
    border: none;
    position: relative;
}

.filter__checkbox_active{
    background: #3DDC84;
}

.filter__checkbox:hover{
    cursor: pointer;
}

.filter__checkbox-round{
    width: 16px;
    height: 16px;
    border-radius: 16px;
    position: absolute;
    margin: 0;
    border: none;
    top: 2px;
    left: 2px;
    background-color: #F5F5F5;
}

.filter__checkbox-round_active{
    top: 2px;
    left: 18px;
}

.filter__text_mobile{
    display: none;
}

.filter__text{
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    color: #FFFFFF;
    margin: 0 0 0 14px;
    display: block;
}

@media screen and (max-width: 800px){
    .filter__info{
        max-width: 708px;
        margin: 30px auto 61px;
        flex-direction: row;
        justify-content: end;
        align-items: center;
    }

    .filter__text_mobile{
        display: block;
        font-size: 13px;
        font-weight: 400;
        line-height: 18px;
        text-align: left;
        color: #FFFFFF;
        margin: 0 14px 0 0;
    }

    .filter__text{
        display: none;
    }
}