.header{
    background-color: #073042;
    padding-top: 18px;
}

.header_type_gray{
    background-color: #202020;
    padding-top: 18px;
}

.header__burger{
    display: none;
}

.header__burger_hidden{
    display: none;
}

.header__info{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    color: white;
    max-width: 1140px;
    margin: 0 auto 0;
}

.header__logo{
    height: 38px;
    width: 38px;
    background-image: url(../../images/logo.svg);
}

.header__navigation{
    display: none;
}

.header__navigation_visible{
    visibility: visible;
    opacity: 1;
    display: flex;
    flex-direction: row;
    column-gap: 16px;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
}

.header__films{
    text-decoration: none;
    color: white;
}

.header__saved-films{
    color: white;
    text-decoration: none;
}

.header__account{
    visibility: hidden;
    opacity: 0;
}

.header__account_visible{
    visibility: visible;
    opacity: 1;
    font-size: 13px;
    font-weight: 500;
    line-height: 12px;
    font-display: flex;
    flex-direction: row;
    column-gap: 7px;
    position: relative;
}

.header__name{
    vertical-align: middle;
    text-decoration: none;
    color: white;
}

.header__profile{
    height: 26px;
    width: 26px;
    position: absolute;
    top: 6px;
    left: 58px;
}

.header__entrance-buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
}

.header__entrance-buttons_hidden{
    display: none
}

.header__register{
    margin-right: 30px;
    text-decoration: none;
    color: white;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    text-align: right;
}

.header__register:hover{
    cursor: pointer;
}

.header__button-login{
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    font-style: normal;
    width: 76px;
    height: 32px;
    border-radius: 3px;
    background: #3DDC84;
    color: black;
    padding: 0;
    border: none;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}


.header__button-login:hover{
    cursor: pointer;
}

@media screen and (max-width: 800px){
    .header__info{
        max-width: 708px;
        margin: 0 auto 31px;
    }
    
    .header__burger_hidden{
        display: none;
    }

    .header__burger{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 23px;
        height: 28px;
        position: absolute;
        top: 2%;
        right: 4%;
        margin: 15px 15px 30px auto;
        background-color: #202020;
    }
    
    .header__burger-line{
        width: 23px;
        height: 3px;
        background-color: white;
    }

    .header__navigation_visible{
        column-gap: 14px;
    }
    
}

@media screen and (max-width: 400px){
    .header__info{
        max-width: 292px;
        margin: 18px auto 18px;
    }

    .header__burger{
        margin: 15px 14px 18px auto;
    }

    .header__register{
        font-size: 10px;
        margin-right: 14px;
    }

    .header__button-login{
        font-size: 10px;
        width: 54px;
        height: 26px;
    }
}