.student{
    background-color: #202020;
}

.student__theme{
    font-size: 22px;
    font-weight: 400;
    line-height: 27px;
    text-align: left;
    color: white;
    padding-bottom: 23px;
    max-width: 1140px;
    border-bottom: 1px solid #DADADA;
    margin: 110px auto 0;
    letter-spacing: -0.04em;
}

.student__container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1140px;
    margin: 66px auto 0;
}

.student__info{
    display: flex;
    flex-direction: column;
    max-width: 600px;
}

.student__name{
    font-size: 50px;
    font-weight: 400;
    line-height: 58px;
    color: white;
    margin: 0;
    letter-spacing: -0.04em;
}

.student__major{
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
    color: white;
    margin: 18px 0 0;
}

.student__description{
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    color: white;
    margin: 26px 0 0;
}

.student__link{
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    text-decoration: none;
    color: white;
    margin: 100px 0 100px;
}


.student__photo{
    width: 270px;
    height: 327px;
    border-radius: 10px;
}
